In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('/Users/yueqili/Desktop/data/COVID-19_Hospital_Data_Coverage_Detail.csv')

# only select interested columns
cols = ['ccn','facility_name','state','zip_code','provider_subtype','certified_bed_count','component_hospitals','week_ending',
        'total_beds', 'all_adult_hospital_beds', 'inpatient_beds',
       'all_adult_hospital_inpatient_beds', 'inpatient_beds_used',
       'all_adult_hospital_inpatient_bed_occupied', 'total_icu_beds',
       'total_staffed_adult_icu_beds', 'icu_beds_used',
       'staffed_adult_icu_bed_occupancy', 'total_ventilators','ventilators_used']
df = df[cols]

In [15]:
# check missing value counts
df.isnull().sum()

ccn                                           0
facility_name                                 0
state                                         0
zip_code                                      0
provider_subtype                              0
certified_bed_count                           0
component_hospitals                          59
week_ending                                   0
total_beds                                    0
all_adult_hospital_beds                       0
inpatient_beds                                0
all_adult_hospital_inpatient_beds             0
inpatient_beds_used                           0
all_adult_hospital_inpatient_bed_occupied     0
total_icu_beds                                0
total_staffed_adult_icu_beds                  0
icu_beds_used                                 0
staffed_adult_icu_bed_occupancy               0
total_ventilators                             0
ventilators_used                              0
dtype: int64

In [16]:
## check data type
df.dtypes

ccn                                            int64
facility_name                                 object
state                                         object
zip_code                                       int64
provider_subtype                              object
certified_bed_count                            int64
component_hospitals                          float64
week_ending                                   object
total_beds                                   float64
all_adult_hospital_beds                      float64
inpatient_beds                               float64
all_adult_hospital_inpatient_beds            float64
inpatient_beds_used                          float64
all_adult_hospital_inpatient_bed_occupied    float64
total_icu_beds                               float64
total_staffed_adult_icu_beds                 float64
icu_beds_used                                float64
staffed_adult_icu_bed_occupancy              float64
total_ventilators                            float64
ventilators_used                             float64
dtype: object

In [17]:
## change data type
# datetime
df['week_ending']= pd.to_datetime(df['week_ending'])

# change to specified type
# df = df.astype({'zipcode':'float'})

In [6]:
## create table sql auto generate columns
# Define the SQL table name
table_name = 'sql_table'

# Generate the CREATE TABLE query dynamically based on the DataFrame columns
columns_query = ", ".join([f"{col} {df[col].dtype}" for col in df.columns])
create_table_query = f"CREATE TABLE {table_name} ({columns_query})"

# Print the CREATE TABLE query
print(create_table_query)

CREATE TABLE sql_table (state object, ccn int64, facility_name object, street_address object, city object, zip_code int64, fips_county int64, provider_subtype object, reporting_source object, dates_with_missing_data object, certified_bed_count int64, component_hospitals float64, week_ending object, days_at_100% int64, percentage_of_required_fields_reported float64, hospital_required_to_report_wed_only bool, total_beds float64, all_adult_hospital_beds float64, inpatient_beds float64, all_adult_hospital_inpatient_beds float64)

In [18]:
## exmport to tuple
y = []
for i in range(len(df)):
    x = tuple(df.iloc[i])
    y.append(x)

In [19]:
## write to a txt file for import
file = open('insert.txt', 'w')
for tuple in y:
    file.write(str(tuple) + ',' +'\n')

file.close

In [3]:
df = pd.read_csv('/Users/yueqili/Desktop/data/COVID-19_Hospital_Data_Coverage_Detail.csv')
df = df.iloc[:,:20]

In [4]:
df

,state,ccn,facility_name,street_address,city,zip_code,fips_county,provider_subtype,reporting_source,dates_with_missing_data,certified_bed_count,component_hospitals,week_ending,days_at_100%,percentage_of_required_fields_reported,hospital_required_to_report_wed_only,total_beds,all_adult_hospital_beds,inpatient_beds,all_adult_hospital_inpatient_beds
0,KY,180024,SPRING VIEW HOSPITAL,320 LORETTO ROAD,LEBANON,40033,21155,Short Term,new_nhsn,[],75,1.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
1,LA,190054,IBERIA MEDICAL CENTER,2315 E MAIN STREET,NEW IBERIA,70562,22045,Short Term,new_nhsn,[],166,4.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
2,MA,220012,CAPE COD HOSPITAL,27 PARK STREET,HYANNIS,2601,25001,Short Term,new_nhsn,[],259,1.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
3,TX,450400,PARKVIEW REGIONAL HOSPITAL,600 SOUTH BONHAM STREET,MEXIA,76667,48293,Short Term,new_nhsn,[],59,1.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
4,MN,242004,M HEALTH FAIRVIEW BETHESDA HOSPITAL,45 10TH STREET WEST,SAINT PAUL,55102,27123,Long Term,new_nhsn,[],254,1.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4919,NM,320086,LOVELACE REGIONAL HOSPITAL - ROSWELL,117 EAST 19TH STREET,ROSWELL,88201,35005,Short Term,new_nhsn,[],27,1.0,05/11/2023 12:00:00 AM,14,0.88,False,14.0,14.0,14.0,14.0
4920,ME,201308,HOULTON REGIONAL HOSPITAL,20 HARTFORD STREET,HOULTON,4730,23003,Critical Access Hospitals,new_nhsn,[],25,1.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
4921,OK,372004,PAM HEALTH SPECIALTY HOSPITAL OF OKLAHOMA CITY,1407 NORTH ROBINSON AVENUE,OKLAHOMA CITY,73103,40109,Long Term,new_nhsn,[],59,1.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
4922,IL,140223,ADVOCATE LUTHERAN GENERAL HOSPITAL,1775 DEMPSTER ST,PARK RIDGE,60068,17031,Short Term,new_nhsn,[],638,2.0,05/11/2023 12:00:00 AM,14,0.88,False,0.0,0.0,14.0,14.0
4923,TX,450688,DALLAS REGIONAL MEDICAL CENTER,1011 NORTH GALLOWAY AVENUE,MESQUITE,75149,48113,Short Term,new_nhsn,[],172,1.0,05/11/2023 12:00:00 AM,14,0.88,False,14.0,14.0,14.0,14.0

CREATE TABLE sql_table (state object, ccn int64, facility_name object, street_address object, city object, zip_code int64, fips_county int64, provider_subtype object, reporting_source object, dates_with_missing_data object, certified_bed_count int64, component_hospitals float64, week_ending object, days_at_100% int64, percentage_of_required_fields_reported float64, hospital_required_to_report_wed_only bool, total_beds float64, all_adult_hospital_beds float64, inpatient_beds float64, all_adult_hospital_inpatient_beds float64)